# python compiled files
__pycache__
*.py[cod]

# machine specific files
venv
.venv
*.log

TODO.md
**/dev/

# Visual Studio Code
.vscode/*
!.vscode/settings.json.default
!.vscode/extensions.json

# local data files
tests/data/
